<section id="login">
  <h2>Inicie a sua Sessão Aqui</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)] = "email"/>
    </p>

    <p>
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" [(ngModel)] = "password"/>
    </p>

    <p class="">
      <strong><label>Recuperar Senha</label></strong>
    </p>

    <p class="actions">
      <button type="button" (click)="googleLogin()">Entrar com google</button>
      <button type="submit">Entrar com email e palavra pass</button>
    </p>
  </form>
</section>
